body {
    margin: 0;
    font-family: sans-serif;
    background: url('https://graph.org/file/344933ac3fec1a1313ac1.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

#masukButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#masukButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#kataInspirasional {
    font-size: 24px;
    color: white;
    font-style: oblique;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    margin-top: -150px; /* Geser kata-kata ke atas */
}

.rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.rain div {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 60px;
    background: rgba(255, 255, 255, 0.6);
    animation: fall linear infinite;
    opacity: 0.5;
}

@keyframes fall {
    to {
        transform: translateY(100vh) translateX(-50px);
    }
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 1;
    pointer-events: auto;
}

footer a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

footer div {
    margin-top: 10px;
    opacity: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

footer div.show {
    max-height: 220px;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
